
.time {
  text-align: center;
  }

.top {
  color: dimgray;
  font-weight: bold;
}

.side {
  color : dimgray;
  font-weight: bold;
}

&:hover {
    background: red;
  }


  .slot {
    border: 1px;
    cursor: pointer;
    padding: 10px;
  }

  &.editing {
    background: blue;
  }

  .App {
    text-align: center;

  }
